<h1>Listing users</h1>

<table>
<% @users.each do |user| %>
	<tr><td><%= link_to user.nome, user %></td></tr>
    <tr><td><%= user.email %></td></tr>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path, :class => "create-object" %>
