<h1>Listing ebooks</h1>

<table>
  
<% @ebooks.each do |ebook| %>
  <tr>
    <td><%= link_to ebook.titulo, ebook %></td></tr><tr>
    <td><%= ebook.autor %></td></tr><tr>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ebook', new_ebook_path %>
